name: Build AWG for GL-MT6000

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TAG: "24.10.4"
      TARGET: "mediatek"
      SUBTARGET: "filogic"
      PKGARCH: "aarch64_cortex-a53"
      VERMAGIC: "9469a6c8c449c47e503c05678ea1559d"

    steps:

      - name: Checkout AWG feed (your fork)
        uses: actions/checkout@v4

      - name: Download OpenWrt SDK
        run: |
          wget https://archive.openwrt.org/releases/$TAG/targets/$TARGET/$SUBTARGET/openwrt-sdk-$TAG-$TARGET-$SUBTARGET\_gcc-13.3.0_musl.Linux-x86_64.tar.zst
          tar -I zstd -xf openwrt-sdk-$TAG-$TARGET-$SUBTARGET\_gcc-13.3.0_musl.Linux-x86_64.tar.zst
          mv openwrt-sdk-$TAG-$TARGET-$SUBTARGET\_gcc-13.3.0_musl.Linux-x86_64 sdk

      - name: Add AWG packages into SDK
        run: |
          cp -r amneziawg-tools sdk/package/
          cp -r kmod-amneziawg sdk/package/
          cp -r luci-app-amneziawg sdk/package/

      - name: Configure SDK
        working-directory: sdk
        run: |
          echo "src-link awg $(pwd)/package" >> feeds.conf.default

          ./scripts/feeds update -a
          ./scripts/feeds install -a

          cp config.buildinfo .config

          echo "CONFIG_PACKAGE_kmod-amneziawg=m" >> .config
          echo "CONFIG_PACKAGE_amneziawg-tools=y" >> .config
          echo "CONFIG_PACKAGE_luci-app-amneziawg=y" >> .config
          echo "CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y" >> .config
          echo "CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y" >> .config

          make defconfig

      - name: Build packages
        working-directory: sdk
        run: |
          make package/kmod-amneziawg/{clean,prepare,compile} V=s
          make package/amneziawg-tools/{clean,prepare,compile} V=s
          make package/luci-app-amneziawg/{clean,prepare,compile} V=s

      - name: Collect artifacts
        run: |
          mkdir -p awgrelease
          cp sdk/bin/packages/$PKGARCH/awg/*amneziawg-tools*.ipk awgrelease/
          cp sdk/bin/packages/$PKGARCH/awg/*luci-app-amneziawg*.ipk awgrelease/
          cp sdk/bin/targets/$TARGET/$SUBTARGET/packages/kmod-amneziawg_*.ipk awgrelease/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: awgrelease/*.ipk
